name: CI
on: [push, pull_request]
permissions:
  contents: read # to fetch code (actions/checkout)
jobs:
  code_style:
    name: Code style
    runs-on: ubuntu-latest
    container: jforissier/optee_os_ci
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # full history so checkpatch can check commit IDs in commit messages
      - name: Update Git config
        run: git config --global --add safe.directory ${GITHUB_WORKSPACE}
      - name: Run checkpatch
        shell: bash
        run: |
          # checkpatch task
          set -e
          pushd . >/dev/null
          mkdir -p /tmp/linux/scripts
          cd /tmp/linux/scripts
          wget --quiet https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/plain/scripts/checkpatch.pl
          chmod +x checkpatch.pl
          wget --quiet https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/plain/scripts/spelling.txt
          echo "invalid.struct.name" >const_structs.checkpatch
          export PATH=/tmp/linux/scripts:$PATH
          popd >/dev/null
          source scripts/checkpatch_inc.sh
          function _do() { echo '>>' $*; $*; }
          # Run checkpatch.pl:
          # - on the tip of the branch only if we're not in a pull request
          # - otherwise:
          #   * on each commit in the development branch that is not in the target (merge to) branch
          #   * on the global diff if the PR contains more than one commit (useful to check if fixup
          #     commits do solve previous checkpatch errors)
          if [ "${GITHUB_EVENT_NAME}" = "push" ]; then \
            _do checkpatch HEAD || failed=1; \
          else \
            for c in $(git rev-list HEAD^1..HEAD^2); do \
              _do checkpatch $c || failed=1; \
            done; \
            if [ "$(git rev-list --count HEAD^1..HEAD^2)" -gt 1 ]; then \
              _do checkdiff $(git rev-parse HEAD^1) $(git rev-parse HEAD^2) || failed=1; \
            fi; \
          fi
          [ -z "$failed" ]
      - name: Run pycodestyle
        if: success() || failure()
        run: |
          # pycodestyle task
          sudo -E bash -c "apt update -qq -y && apt install -qq -y pycodestyle"
          pycodestyle scripts/*.py core/arch/arm/plat-stm32mp1/scripts/stm32image.py
  QEMUv8_Hafnium_check:
    name: make check (QEMUv8, Hafnium)
    runs-on: ubuntu-latest
    container: jforissier/optee_os_ci:qemu_check
    steps:
      - name: Remove /__t/*
        run: rm -rf /__t/*
      - name: Restore build cache
        uses: actions/cache@v4
        with:
          path: /github/home/.cache/ccache
          key: qemuv8_hafnium_check-cache-${{ github.sha }}
          restore-keys: |
            qemuv8_hafnium_check-cache-
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update Git config
        run: git config --global --add safe.directory ${GITHUB_WORKSPACE}
      - shell: bash
        run: |
          # make check task
          set -e -v
          export LC_ALL=C
          export CFG_TEE_CORE_LOG_LEVEL=2
          export BR2_CCACHE_DIR=/github/home/.cache/ccache
          export FORCE_UNSAFE_CONFIGURE=1 # Prevent Buildroot error when building as root
          OPTEE_OS_TO_TEST=$(pwd)
          cd ..
          TOP=$(pwd)/optee_repo_qemu_v8
          /root/get_optee.sh qemu_v8 ${TOP}
          mv ${TOP}/optee_os ${TOP}/optee_os_old
          ln -s ${OPTEE_OS_TO_TEST} ${TOP}/optee_os
          cd ${TOP}/build
          # Workaround "no space left on device": this saves 454M (Linux v6.16-rc7)
          rm -rf ${TOP}/linux/drivers/gpu/drm/amd/include/asic_reg

          make -j$(nproc) check SPMC_AT_EL=2
